<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
    "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="saleson.shop.give.givepoint.GivePointMapper">

    <!-- 기부 포인트현황 합계 -->
    <select id="getGivePointSum" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="saleson.shop.give.givepoint.domain.GivePoint" >
    	/* saleson.shop.give.givepoint.GivePointMapper.getGivePointSum */
    	SELECT
    			CNTR_AMT
    		,	CNTR_POINT
    		,	CNTR_USE_POINT
    		,	(CNTR_POINT - CNTR_USE_POINT) AS CNTR_BLCE_POINT
    	FROM
    	(
        SELECT
            IFNULL(SUM(GC.CNTR_AMT), 0) AS CNTR_AMT                                 -- 기부금액
            , IFNULL(SUM(GC.CNTR_POINT), 0) AS CNTR_POINT                           -- 발생포인트
            , (
			    	SELECT IFNULL(SUM(CNTR_USE_POINT), 0)
			    	FROM G_CNTR_USE_POINT
			    	WHERE use_se_code ='1'
			    	<if test="shLocgovCode != null and shLocgovCode != ''">
						AND cntr_locgov_code = #{shLocgovCode}
					</if>
					<if test="shCntrYearStart != null and shCntrYearStart != '' and shCntrYearEnd != null and shCntrYearEnd != ''">
						AND year(point_use_de) between #{shCntrYearStart} and #{shCntrYearEnd}
					</if>
			      ) AS CNTR_USE_POINT
        FROM G_CNTR GC
        WHERE 1=1
        AND GC.DELETE_AT = 'N'
		and GC.cntr_sttus_code = '200'
        and GC.sttemnt_pay_de is not NULL
		<if test="shCntrYearStart != null and shCntrYearStart != '' and shCntrYearEnd != null and shCntrYearEnd != ''">
		AND year(GC.CNTR_DE) between #{shCntrYearStart} and #{shCntrYearEnd}
		</if>
		<if test="shLocgovCode != null and shLocgovCode != ''">
		AND GC.CNTR_LOCGOV_CODE = #{shLocgovCode}
		</if>
		) a
    </select>

    <!-- 기부 포인트현황 목록 count -->
	<select id="getGivePointListCount" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="Integer" >
		/* saleson.shop.give.givepoint.GivePointMapper.getGivePointListCount */
        SELECT COUNT(*) AS CNT
		FROM(
	        SELECT
			    SUM(GC.CNTR_AMT) AS CNTR_AMT
			FROM G_CNTR GC, G_LOCGOV GL
			WHERE 1=1
			AND GC.CNTR_LOCGOV_CODE = GL.LOCGOV_CODE
			AND GC.DELETE_AT = 'N'
			and GC.cntr_sttus_code = '200'
        	and GC.sttemnt_pay_de is not NULL
			<if test="shLocgovCode != null and shLocgovCode != ''">
			AND GL.LOCGOV_CODE = #{shLocgovCode}
			</if>
			<if test="shCntrYearStart != null and shCntrYearStart != '' and shCntrYearEnd != null and shCntrYearEnd != ''">
	        AND year(GC.CNTR_DE) between #{shCntrYearStart} and #{shCntrYearEnd}
	        </if>
			GROUP BY year(GC.CNTR_DE)
				     , GL.UPPER_LOCGOV_CODE
				     , GL.LOCGOV_CODE
	     ) A
	</select>

    <!-- 기부 포인트현황 목록 -->
	<select id="getGivePointList" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="saleson.shop.give.givepoint.domain.GivePoint" >
		<include refid="CommonMapper.paginationHeader" />
			/* saleson.shop.give.givepoint.GivePointMapper.getGivePointList */
			SELECT
				CNTR_YEAR
				,UPPER_LOCGOV_CODE
				,UPPER_LOCGOV_NM
				,LOCGOV_CODE
				,LOCGOV_NM
				,CNTR_AMT
				,CNTR_POINT
				,CNTR_USE_POINT
				,(CNTR_POINT-CNTR_USE_POINT) AS CNTR_BLCE_POINT
			FROM
			(
			SELECT
	            year(GC.CNTR_DE) as CNTR_YEAR
		        , GL.UPPER_LOCGOV_CODE AS UPPER_LOCGOV_CODE
		        , (SELECT LABEL FROM OP_COMMON_CODE OCC WHERE ID = GL.UPPER_LOCGOV_CODE AND CODE_TYPE = 'WDR' AND USE_YN = 'Y') AS UPPER_LOCGOV_NM
		        , GL.LOCGOV_CODE AS LOCGOV_CODE
		        , GL.LOCGOV_NM AS LOCGOV_NM
		        , SUM(GC.CNTR_AMT) AS CNTR_AMT
		        , SUM(GC.CNTR_POINT) AS CNTR_POINT
		         , (
			    	SELECT IFNULL(SUM(CNTR_USE_POINT), 0)
			    	FROM G_CNTR_USE_POINT a, G_LOCGOV b
			    	WHERE use_se_code ='1'
			    		AND a.cntr_locgov_code = b.locgov_code
						AND b.locgov_code = GL.locgov_code
				    	<if test="shLocgovCode != null and shLocgovCode != ''">
							AND cntr_locgov_code = #{shLocgovCode}
						</if>
						<if test="shCntrYearStart != null and shCntrYearStart != '' and shCntrYearEnd != null and shCntrYearEnd != ''">
							AND year(point_use_de) between #{shCntrYearStart} and #{shCntrYearEnd}
						</if>
			      ) AS CNTR_USE_POINT
	        FROM G_CNTR GC, G_LOCGOV GL
	        WHERE 1=1
	        AND GC.CNTR_LOCGOV_CODE = GL.LOCGOV_CODE
	        AND GC.DELETE_AT = 'N'
	        and GC.cntr_sttus_code = '200'
        	and GC.sttemnt_pay_de is not NULL
	       <if test="shLocgovCode != null and shLocgovCode != ''">
            AND GL.LOCGOV_CODE = #{shLocgovCode}
            </if>
            <if test="shCntrYearStart != null and shCntrYearStart != '' and shCntrYearEnd != null and shCntrYearEnd != ''">
	        AND year(GC.CNTR_DE) between #{shCntrYearStart} and #{shCntrYearEnd}
	        </if>
	        GROUP BY year(GC.CNTR_DE)
	                 , GL.UPPER_LOCGOV_CODE
	                 , GL.LOCGOV_CODE
	        ORDER BY year(GC.CNTR_DE) DESC
                     , GL.UPPER_LOCGOV_CODE
                     , GL.LOCGOV_CODE
			) A
		<include refid="CommonMapper.paginationFooter" />
	</select>

    <!-- 기부 포인트현황 상세 누적합계 -->
	<select id="getGivePointDetail" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="saleson.shop.give.givepoint.domain.GivePoint" >
		/* saleson.shop.give.givepoint.GivePointMapper.getGivePointDetail */
		SELECT
				CNTR_POINT
			,	CNTR_USE_POINT
			,	CNTR_POINT-CNTR_USE_POINT AS CNTR_BLCE_POINT
		FROM
		(
			SELECT
			    IFNULL(SUM(CNTR_POINT), 0) AS CNTR_POINT
			     , (
				    	SELECT IFNULL(SUM(CNTR_USE_POINT), 0)
				    	FROM G_CNTR_USE_POINT
				    	WHERE use_se_code ='1'
				    	<if test="shLocgovCode != null and shLocgovCode != ''">
							AND cntr_locgov_code = #{shLocgovCode}
						</if>
				      ) AS CNTR_USE_POINT
			FROM G_CNTR GC
			WHERE 1=1
			AND year(GC.CNTR_DE) = DATE_FORMAT(NOW(), '%Y')
			AND GC.DELETE_AT = 'N'
			and GC.cntr_sttus_code = '200'
	        and GC.sttemnt_pay_de is not NULL
			<if test="shLocgovCode != null and shLocgovCode != ''">
			AND CNTR_LOCGOV_CODE = #{shLocgovCode}
			</if>
		) A
	</select>

    <!-- 기부 포인트현황 상세 검색합계 -->
	<select id="getGivePointDetailSum" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="saleson.shop.give.givepoint.domain.GivePoint" >
		/* saleson.shop.give.givepoint.GivePointMapper.getGivePointDetailSum */
		SELECT
			CNTR_POINT
			,	CNTR_USE_POINT
			,	CNTR_POINT - CNTR_USE_POINT AS CNTR_BLCE_POINT
		FROM
		(
	    SELECT
	        IFNULL(SUM(CNTR_POINT), 0) AS CNTR_POINT
	         , (
			    	SELECT IFNULL(SUM(A.CNTR_USE_POINT), 0)
			    	FROM G_CNTR_USE_POINT A, OP_USER B
			    	WHERE A.use_se_code ='1'
			    		AND A.user_id = B.user_id
			    	<if test="shLocgovCode != null and shLocgovCode != ''">
						AND A.cntr_locgov_code = #{shLocgovCode}
					</if>
					<if test="shCntrYear != null and shCntrYear != ''">
				    	AND year(A.POINT_USE_DE) = #{shCntrYear}
				    </if>
				    <if test="shCntrDeStart != null and shCntrDeStart != '' and shCntrDeEnd != null and shCntrDeEnd != ''">
				    	AND A.POINT_USE_DE BETWEEN #{shCntrDeStart} AND #{shCntrDeEnd}
				    </if>
				    <if test="shUserName != null and shUserName != ''">
			        	AND B.USER_NAME = #{shUserName}
			        </if>
		      ) AS CNTR_USE_POINT
	    FROM G_CNTR GC, OP_USER OU
	    WHERE 1=1
	    AND GC.USER_ID = OU.USER_ID
	    AND GC.DELETE_AT = 'N'
	    and GC.cntr_sttus_code = '200'
        and GC.sttemnt_pay_de is not NULL
	    <if test="shLocgovCode != null and shLocgovCode != ''">
	    AND CNTR_LOCGOV_CODE = #{shLocgovCode}
	    </if>
	    <if test="shCntrYear != null and shCntrYear != ''">
	    AND year(GC.CNTR_DE) = #{shCntrYear}
	    </if>
	    <if test="shCntrDeStart != null and shCntrDeStart != '' and shCntrDeEnd != null and shCntrDeEnd != ''">
	    AND CNTR_DE BETWEEN #{shCntrDeStart} AND #{shCntrDeEnd}
	    </if>
	    <if test="shUserName != null and shUserName != ''">
        AND OU.USER_NAME = #{shUserName}
        </if>
		) A
	</select>

    <!-- 기부 포인트현황 상세 목록 count -->
	<select id="getGivePointDetailListCount" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="Integer" >
		/* saleson.shop.give.givepoint.GivePointMapper.getGivePointDetailListCount */
	    SELECT COUNT(*)
		FROM g_cntr a
		INNER JOIN op_user b ON a.user_id = b.user_id
		WHERE 1 = 1
			AND a.delete_at = 'N'
			AND a.cntr_sttus_code = '200'
			AND year(a.sttemnt_pay_de) = #{shCntrYear}
			<if test="shLocgovCode != null and shLocgovCode != ''">
            	AND a.cntr_locgov_code = #{shLocgovCode}
            </if>
            <if test="shUserName != null and shUserName != ''">
            	AND b.user_name = #{shUserName}
            </if>
	</select>

    <!-- 기부 포인트현황 상세 목록 -->
	<select id="getGivePointDetailList" parameterType="saleson.shop.give.givepoint.domain.GivePoint" resultType="saleson.shop.give.givepoint.domain.GivePoint" >
	    <include refid="CommonMapper.paginationHeader" />
		    /* saleson.shop.give.givepoint.GivePointMapper.getGivePointDetailList */
		    SELECT
					a.sttemnt_pay_de
				,	a.elctrn_pay_no
				,	a.login_id
				,	a.user_name
				,	a.cntr_amt
				,	a.cntr_point
				,	a.cntr_use_point
				,	a.cntr_point -  cntr_use_point as cntr_blce_point
		    FROM
		    (
			    SELECT
							a.sttemnt_pay_de
						,	a.elctrn_pay_no
						,	a.login_id AS login_id
						,	CASE WHEN user_name IS NULL THEN '탈퇴회원' ELSE a.user_name END AS user_name
						,	a.cntr_amt
						,	a.cntr_point
						,	(SELECT IFNULL(sum(cntr_use_point), 0) FROM g_cntr_use_point c WHERE c.cntr_sn = a.cntr_sn AND year(c.point_use_de) = #{shCntrYear}) as cntr_use_point
				FROM
				(
					SELECT
							a.cntr_sn
						,	a.sttemnt_pay_de
						,	a.elctrn_pay_no
						,	a.user_id
						,	b.login_id
						,	b.user_name
						,	IFNULL(a.cntr_amt, 0) AS cntr_amt
						,	IFNULL(a.cntr_point, 0) AS cntr_point
					FROM g_cntr a
					INNER JOIN op_user b ON a.user_id = b.user_id
					WHERE 1 = 1
						AND a.delete_at = 'N'
						AND a.cntr_sttus_code = '200'
						AND year(a.sttemnt_pay_de) = #{shCntrYear}
						<if test="shLocgovCode != null and shLocgovCode != ''">
			            	AND a.cntr_locgov_code = #{shLocgovCode}
			            </if>
			            <if test="shUserName != null and shUserName != ''">
			            	AND b.user_name = #{shUserName}
			            </if>
				) a
			) a
			ORDER BY sttemnt_pay_de desc, user_name
		<include refid="CommonMapper.paginationFooter" />
	</select>

	<!-- 회원 지자체 조회 -->
    <select id="getLocgovCode" resultType="java.util.HashMap">
    	/* saleson.shop.give.givepoint.GivePointMapper.getLocgovCode */
        SELECT
            M.LOCGOV_CODE
            , L.LOCGOV_NM
            , L.UPPER_LOCGOV_CODE
            , (SELECT LABEL  FROM OP_COMMON_CODE OCC WHERE ID = L.UPPER_LOCGOV_CODE AND CODE_TYPE = 'WDR' AND USE_YN = 'Y') AS UPPER_LOCGOV_NM
        FROM OP_MANAGER M, G_LOCGOV L
        WHERE 1=1
        AND M.LOCGOV_CODE = L.LOCGOV_CODE
        AND USER_ID = #{userId}
    </select>



</mapper>