<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="saleson.shop.log.PasswordLogMapper">

    <resultMap id="PasswordLogResult" type="saleson.shop.log.domain.PasswordLog">
        <result column="USER_ID" property="userId"/>
        <result column="PASSWORD" property="password"/>
        <result column="CREATED_DATE" property="createdDate"/>
    </resultMap>

    <insert id="insertManagerPasswordLog" parameterType="saleson.shop.log.domain.PasswordLog">
        INSERT INTO OP_MANAGER_PASSWORD_LOG (
            USER_ID,
            PASSWORD,
            CREATED_DATE
        ) VALUES (
            #{userId},
            #{password},
            #{createdDate}
        )
    </insert>

    <select id="getPasswordListById" parameterType="saleson.shop.log.domain.PasswordLog" resultType="String">
        SELECT TO_CHAR(PASSWORD)
            FROM OP_MANAGER_PASSWORD_LOG
        WHERE USER_ID = #{userId}
        ORDER BY CREATED_DATE DESC
        LIMIT #{limit}
    </select>


</mapper>
