<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="saleson.shop.specialityitem.SpecialityItemMapper">

	<resultMap id="SpecilaityItemManageDto" type="saleson.shop.specialityitem.domain.SpecialityItemManage">
		<result property="specialityItemManageId" column="SPCL_ITEM_MNG_ID" />
		<result property="locgovCode" column="LOCGOV_CODE" />
		<result property="locgovNm" column="LOCGOV_NM" />
		<result property="specialityItemInfo" column="SPCL_ITEM_INFO" />
		<result property="keywords" column="KEYWORDS" />
		<result property="frstRegisterId" column="FRST_REGISTER_ID" />
		<result property="frstRegistPnttm" column="FRST_REGIST_PNTTM" />
		<result property="lastUpdusrId" column="LAST_UPDUSR_ID" />
		<result property="lastUpdtPnttm" column="LAST_UPDT_PNTTM" />
	</resultMap>

	<resultMap id="SpecialityFrontDomainDto" type="saleson.shop.specialityitem.domain.SpecialityFrontDomain">
		<result property="spclItemMngId" column="SPCL_ITEM_MNG_ID" />
		<result property="locgovCode" column="LOCGOV_CODE" />
		<result property="locgovNm" column="LOCGOV_NM" />
		<result property="upperLocgovNm" column="UPPER_LOCGOV_NM" />
		<result property="spclItemInfo" column="SPCL_ITEM_INFO" />
		<result property="rownum" column="ROWNUM" />
	</resultMap>

	<select id="getSpecialityItemManageList" parameterType="saleson.shop.specialityitem.support.SpecialityItemParam" resultMap="SpecilaityItemManageDto">

		SELECT * FROM (
			<include refid="CommonMapper.paginationHeader" />
				<!-- SELECT MNG.*
					, (
						SELECT
							CASE
								WHEN LOCGOV.LOCGOV_CODE = LOCGOV.UPPER_LOCGOV_CODE
									THEN LOCGOV.UPPER_LOCGOV_NM
								ELSE
									CONCAT(LOCGOV.UPPER_LOCGOV_NM, ' ', LOCGOV.LOCGOV_NM)
								END
						FROM G_LOCGOV LOCGOV
						WHERE LOCGOV.LOCGOV_CODE = MNG.LOCGOV_CODE) AS LOCGOV_NM
					FROM (
					SELECT
						*
						<if test="keywords != null and keywords != ''">
						, REPLACE(REPLACE(SUBSTRING_INDEX(KEYWORDS,',',LEVEL), SUBSTRING_INDEX(KEYWORDS,',',LEVEL -1),''),',','') AS KEYWORD
						</if>
						FROM (SELECT SPCL_ITEM_MNG_ID
									, KEYWORDS
									, SPCL_ITEM_INFO
									, LOCGOV_CODE
								FROM G_SPCL_ITEM_MANAGE) MNG
						WHERE 1=1
							<if test="upperLocgovCode != null and upperLocgovCode != ''">
								<choose>
									<when test="locgovCode != null and locgovCode != ''">
										AND MNG.LOCGOV_CODE = #{locgovCode}
									</when>
									<otherwise>
										AND MNG.LOCGOV_CODE IN (
											SELECT LOCGOV.LOCGOV_CODE
												FROM G_LOCGOV LOCGOV
												WHERE LOCGOV.UPPER_LOCGOV_CODE = #{upperLocgovCode}
										)
									</otherwise>
								</choose>
							</if>
							<if test="specialityItemManageId != null and specialityItemManageId != ''">
								AND MNG.SPCL_ITEM_MNG_ID = #{specialityItemManageId}
							</if>
							<if test="keywords != null and keywords != ''">
								CONNECT BY LEVEL  <![CDATA[ <= ]]>  LENGTH(KEYWORDS) - LENGTH(REPLACE(KEYWORDS,',','')) + 1
							</if>
						) MNG
					LEFT OUTER JOIN OP_COMMON_CODE CD ON CODE_TYPE = 'WDR' AND ID = MNG.LOCGOV_CODE
					<if test="keywords != null and keywords != ''">
						WHERE MNG.KEYWORD = #{keywords}
					</if>
				GROUP BY SPCL_ITEM_MNG_ID
				ORDER BY LOCGOV_NM -->
		SELECT *
			, ROWNUM
			FROM (
				SELECT MNG.*
						, (
							SELECT
								CASE
									WHEN LOCGOV.LOCGOV_CODE = LOCGOV.UPPER_LOCGOV_CODE
										THEN LOCGOV.UPPER_LOCGOV_NM
									ELSE
										CONCAT(LOCGOV.UPPER_LOCGOV_NM, ' ', LOCGOV.LOCGOV_NM)
									END
							FROM G_LOCGOV LOCGOV
							WHERE LOCGOV.LOCGOV_CODE = MNG.LOCGOV_CODE) AS LOCGOV_NM
					FROM (
							SELECT
								SPCL_ITEM_MNG_ID
								, LOCGOV_CODE
								, SPCL_ITEM_INFO
								, FRST_REGIST_PNTTM
								, (
									SELECT
										GROUP_CONCAT(SPCL_ITEM_KEYWORD)
										FROM (SELECT SPCL_ITEM_KEYWORD
												FROM G_SPCL_ITEM_MNG_KEYWORD
												WHERE SPCL_ITEM_MNG_ID = MNG.SPCL_ITEM_MNG_ID
												ORDER BY REG_SEQ)
								) AS KEYWORDS
								FROM G_SPCL_ITEM_MNG MNG
								WHERE 1=1
									<choose>
										<when test="upperLocgovCode != null and upperLocgovCode != ''">
											<choose>
												<when test="locgovCode != null and locgovCode != ''">
													AND MNG.LOCGOV_CODE = #{locgovCode}
												</when>
												<otherwise>
													AND MNG.LOCGOV_CODE IN (
														SELECT LOCGOV.LOCGOV_CODE
															FROM G_LOCGOV LOCGOV
															WHERE LOCGOV.UPPER_LOCGOV_CODE = #{upperLocgovCode}
													)
												</otherwise>
											</choose>
										</when>
										<when test="locgovCode != null and locgovCode != ''">
													AND MNG.LOCGOV_CODE = #{locgovCode}
										</when>
									</choose>
									<if test="specialityItemManageId != null and specialityItemManageId != ''">
										AND MNG.SPCL_ITEM_MNG_ID = #{specialityItemManageId}
									</if>
									<if test="keywords != null and keywords != ''">
										AND MNG.SPCL_ITEM_MNG_ID IN (
										 	SELECT SPCL_ITEM_MNG_ID
										 		FROM G_SPCL_ITEM_MNG_KEYWORD
										 		WHERE SPCL_ITEM_KEYWORD LIKE CONCAT('%', #{keywords}, '%')
										)
									</if>
						) MNG
					LEFT OUTER JOIN OP_COMMON_CODE CD ON CODE_TYPE = 'WDR' AND ID = MNG.LOCGOV_CODE
				GROUP BY SPCL_ITEM_MNG_ID
				ORDER BY LOCGOV_NM
			)
		)
		<include refid="CommonMapper.paginationFooter" />
	</select>

	<insert id="insertSpecialityItemManage" parameterType="saleson.shop.specialityitem.domain.SpecialityItemManage" >
		INSERT INTO G_SPCL_ITEM_MNG
			(
				SPCL_ITEM_MNG_ID
				, LOCGOV_CODE
				, SPCL_ITEM_INFO
				<!-- , SPCL_ITEM_KEYWORD -->
				, FRST_REGISTER_ID
				, FRST_REGIST_PNTTM
				, LAST_UPDUSR_ID
				, LAST_UPDT_PNTTM
			)
			VALUES
			(
				#{specialityItemManageId}
				, #{locgovCode}
				, #{specialityItemInfo}
				<!-- , #{keywords} -->
				, #{frstRegisterId}
				, #{frstRegistPnttm}
				, #{lastUpdusrId}
				, #{lastUpdtPnttm}
			)
	</insert>

	<update id="updateSpecialityItemManage" parameterType="saleson.shop.specialityitem.domain.SpecialityItemManage" >
		UPDATE G_SPCL_ITEM_MNG
			SET SPCL_ITEM_INFO = #{specialityItemInfo}
				<!-- , SPCL_ITEM_KEYWORD = #{keywords} -->
				, LAST_UPDUSR_ID = #{lastUpdusrId}
				, LAST_UPDT_PNTTM = #{lastUpdtPnttm}
			WHERE
				SPCL_ITEM_MNG_ID = #{specialityItemManageId}
	</update>



	<insert id="insertSpecialityItem" parameterType="saleson.shop.specialityitem.domain.SpecialityItem" >
		INSERT INTO G_SPCL_ITEM
			(
				SPCL_ITEM_MNG_ID
				, ITEM_ID
				, DISPLAY_ORDER
				, FRST_REGISTER_ID
				, FRST_REGIST_PNTTM
				, LAST_UPDUSR_ID
				, LAST_UPDT_PNTTM
			)
			VALUES
			(
				#{specialityItemManageId}
				, #{itemId}
				, #{displayOrder}
				, #{frstRegisterId}
				, #{frstRegistPnttm}
				, #{lastUpdusrId}
				, #{lastUpdtPnttm}
			)
	</insert>

	<select id="getSpecialityItemListByParam" parameterType="saleson.shop.specialityitem.support.SpecialityItemParam" resultType="saleson.shop.specialityitem.domain.SpecialityItem">
		SELECT
			IC.CATEGORY_ID,
			IC.CATEGORY_NAME,
			<!-- <include refid="saleson.shop.item.ItemMapper.defaultItemColumns" />,
			<include refid="saleson.shop.item.ItemMapper.defaultStockColumns" />, -->
			
			SI.SPCL_ITEM_MNG_ID,
			SI.ITEM_ID,
			SI.DISPLAY_ORDER,
			(
				SELECT
					GROUP_CONCAT(SPCL_ITEM_KEYWORD)
					FROM (SELECT SPCL_ITEM_KEYWORD
							FROM G_SPCL_ITEM_MNG_KEYWORD
							WHERE SPCL_ITEM_MNG_ID = MNG.SPCL_ITEM_MNG_ID
							ORDER BY REG_SEQ)
			) AS KEYWORDS,
			I.ITEM_CODE,
			I.ITEM_IMAGE,
			I.DATA_STATUS_CODE,
			 ( CASE
				WHEN I.SOLD_OUT = '1' THEN 'Y'
				WHEN I.ITEM_OPTION_FLAG = 'N'
				AND I.STOCK_FLAG = 'Y'
				AND I.STOCK_QUANTITY = 0 THEN 'Y'
				WHEN I.ITEM_OPTION_FLAG = 'Y'
				AND I.ITEM_OPTION_TYPE = 'T'
				AND I.STOCK_FLAG = 'Y'
				AND I.STOCK_QUANTITY = 0 THEN 'Y'
				ELSE 'N'
			END ) AS ITEM_SOLD_OUT_FLAG,
			I.DISPLAY_FLAG,
			I.ITEM_USER_CODE,
			I.ITEM_NAME,
			I.SALE_PRICE
		FROM G_SPCL_ITEM_MNG MNG
			INNER JOIN G_SPCL_ITEM SI ON MNG.SPCL_ITEM_MNG_ID = SI.SPCL_ITEM_MNG_ID
				AND MNG.SPCL_ITEM_MNG_ID = #{specialityItemManageId}
			INNER JOIN OP_ITEM I ON SI.ITEM_ID = I.ITEM_ID
			INNER JOIN OP_SELLER S ON I.SELLER_ID = S.SELLER_ID
			INNER JOIN G_LOCGOV L ON S.LOCGOV_CODE = L.LOCGOV_CODE
			LEFT JOIN OP_ITEM_OPTION_SOLDOUT IOST ON I.ITEM_ID = IOST.ITEM_ID

			<!-- 카테고리 매핑이 두개이상일 경우 ORDERING으로 정렬 후 LIMIT 1 출력 2017-05-22_seungil.lee  -->
			LEFT JOIN ( SELECT
					IC.ITEM_ID, IC.CATEGORY_ID, C.CATEGORY_NAME
					FROM OP_CATEGORY C
					INNER JOIN OP_ITEM_CATEGORY IC ON C.CATEGORY_ID = IC.CATEGORY_ID AND C.CATEGORY_FLAG = 'Y'
					ORDER BY IC.ORDERING ASC ) IC ON I.ITEM_ID = IC.ITEM_ID

			<!-- LEFT JOIN (
				SELECT IC.ITEM_ID, IC.CATEGORY_ID, C.CATEGORY_NAME
				FROM OP_CATEGORY C
					INNER JOIN OP_ITEM_CATEGORY IC ON C.CATEGORY_ID = IC.CATEGORY_ID AND C.CATEGORY_FLAG = 'Y' GROUP BY ITEM_ID
			) IC ON I.ITEM_ID = IC.ITEM_ID 주석 -->

		WHERE 1=1
			AND I.DATA_STATUS_CODE = '1'
			AND I.DISPLAY_FLAG = 'Y'
			AND I.ITEM_DATA_TYPE = '1'
			AND I.ITEM_TYPE IN ('1', '3')
			<if test='privateTypes != null'>
				AND I.PRIVATE_TYPE IN (
				<foreach collection="privateTypes" item="privateType" index="i" open="" separator="," close="">
					#{privateType}
				</foreach>
				)
			</if>
			<!-- <if test='conditionType == "FRONT_DISPLAY_ITEM"'>
				<if test='isAdult == "Y"'>
					AND I.MINOR_ALLOW_FLAG = 'Y'
				</if>
			</if> -->
			AND I.FRONT_DISPLAY_FLAG = 'Y'
			AND S.STATUS_CODE = '2'
			AND S.LOCGOV_CODE = MNG.LOCGOV_CODE
		GROUP BY I.ITEM_ID
		ORDER BY SI.DISPLAY_ORDER ASC
	</select>

	<delete id="deleteSpecialityItem" parameterType="saleson.shop.specialityitem.domain.SpecialityItemManage" >
		DELETE FROM G_SPCL_ITEM
			WHERE SPCL_ITEM_MNG_ID = #{specialityItemManageId}
	</delete>

	<select id="getSpecialityItemManageCount" resultType="long">

		SELECT COUNT(1) FROM G_SPCL_ITEM_MNG

	</select>

	<insert id="insertSpecialityItemKeyword" parameterType="saleson.shop.specialityitem.support.SpecialityItemParam">

		INSERT INTO G_SPCL_ITEM_MNG_KEYWORD
			(
				SPCL_ITEM_MNG_ID
				, SPCL_ITEM_KEYWORD
				, REG_SEQ
				, FRST_REGISTER_ID
				, FRST_REGIST_PNTTM
				, LAST_UPDUSR_ID
				, LAST_UPDT_PNTTM
			)
			VALUES
			(
				#{specialityItemManageId}
				, #{keywords}
				, #{regSeq}
				, #{frstRegisterId}
				, #{frstRegistPnttm}
				, #{lastUpdusrId}
				, #{lastUpdtPnttm}
			)

	</insert>

	<delete id="deleteSpecialityItemKeyword" parameterType="saleson.shop.specialityitem.domain.SpecialityItemManage">

		DELETE FROM G_SPCL_ITEM_MNG_KEYWORD
			WHERE SPCL_ITEM_MNG_ID = #{specialityItemManageId}

	</delete>


	<select id="getSpecialityFrontListCount" parameterType="saleson.shop.specialityitem.support.SpecialityItemParam" resultType="Integer">
		SELECT COUNT(1)
		  FROM G_SPCL_ITEM_MNG
		<choose>
			<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 6'>
				WHERE LOCGOV_CODE LIKE CONCAT(SUBSTR(#{locgovCode}, 2, 2), '%')
			</when>
			<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 5'>
				WHERE LOCGOV_CODE = #{locgovCode}
			</when>
		</choose>		
	</select>

	<select id="getSpecialityFrontList" parameterType="saleson.shop.specialityitem.support.SpecialityItemParam" resultMap="SpecialityFrontDomainDto">
		SELECT A.*
		     , L.UPPER_LOCGOV_NM
			<choose>
				<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 6'>
					, '전체' AS LOCGOV_NM
				</when>
				<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 5'>
					, L.LOCGOV_NM
				</when>
			</choose>		     
		  FROM (
				SELECT *
				  FROM G_SPCL_ITEM_MNG
				<choose>
					<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 6'>
						WHERE LOCGOV_CODE LIKE CONCAT(SUBSTR(#{locgovCode}, 2, 2), '%')
					</when>
					<when test='locgovCode != null and locgovCode != "" and locgovCode.length == 5'>
						WHERE LOCGOV_CODE = #{locgovCode}
					</when>
				</choose>
		  		) A
		     , G_LOCGOV L
		 WHERE A.LOCGOV_CODE = L.LOCGOV_CODE
		 ORDER
		    BY L.LOCGOV_CODE
		<include refid="CommonMapper.paginationFooter" />
	</select>

</mapper>