<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="saleson.shop.stsfdg.StsfdgMapper">
	
	<insert id="joinSurvey" parameterType="saleson.shop.stsfdg.support.StsfdgParam">
		insert into g_stsfdg 
		(
			stsfdg_sn,
			menu_url,
			menu_nm,
			stsfdg,
			frst_regist_pnttm
		)
		values(
			#{stsfdgSn},
			#{menuUrl},
			(select detail from op_common_code where code_type ='MENU_URL' and label = #{menuUrl}),
			#{stsfdg},
			<include refid="CommonMapper.datetime"/>
		)
	</insert>
	
</mapper>
