<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="saleson.shop.usergroup.UserGroupMapper">
	
	<resultMap id="GroupResult" type="saleson.shop.group.domain.Group">
		<result property="groupId" column="GROUP_ID" />
		<result property="userId" column="USER_ID" />
	
	</resultMap>
	
	<resultMap id="UserGroupLogResult" type="saleson.shop.usergroup.domain.UserGroupLog">
		<result property="userId" column="USER_ID" />
		<result property="groupCode" column="GROUP_CODE" />
		<result property="groupName" column="GROUP_NAME" />
		<result property="adminUserName" column="ADMIN_USER_NAME" />
		<result property="createdDate" column="CREATED_DATE" />
	</resultMap>
	
	<resultMap id="UserGroupResult" type="saleson.shop.usergroup.domain.UserGroup">
		<result property="authority" column="AUTHORITY" />
		<result property="groupCode" column="GROUP_CODE" />
		<!-- <result property="groupName" column="GROUP_NAME" />
		<result property="groupExplanation" column="GROUP_EXPLANATION" /> -->
		<result property="groupName" column="ROLE_NAME" />
		<result property="groupExplanation" column="ROLE_DESC" />
		<result property="createdDate" column="CREATED_DATE" />
		<result property="createdUserId" column="GROUP_USER_ID" />
		<result property="updatedDate" column="UPDATED_DATE" />
		<result property="updatedUserId" column="UPDATED_USER_ID" />
		<result property="userCount" column="USER_COUNT" />
	</resultMap>
	
	<insert id="insertUserGroups" parameterType="java.util.Map">
		INSERT INTO OP_USER_GROUP (GROUP_ID, USER_ID)
		VALUES
		<foreach collection="groupIds" item="groupIds" separator=" , " >
			 (#{groupIds}, #{userId})
		</foreach>
	</insert> 
	
	<delete id="deleteUserGroupByUserId" parameterType="Integer" >
		DELETE FROM	OP_USER_GROUP 
	 	WHERE USER_ID = #{userId}
	</delete>  
	
	<insert id="insertGroupsOfUsers" parameterType="java.util.Map">
		
			INSERT INTO OP_USER_GROUP (GROUP_ID, USER_ID)
			VALUES
			<foreach collection="userIds" item="userId" separator=",">
					<foreach collection="groupIds" item="groupId"  separator=",">
						 (#{groupId}, #{userId})
					</foreach>
			</foreach>	
	</insert> 
	
	<delete id="deleteGroupsOfUsers" parameterType="java.util.Map" >

			DELETE FROM	OP_USER_GROUP 
	 		WHERE 
	 		<foreach collection="userIds" item="userIds" separator="or">	
	 			USER_ID = #{userIds} 
		 	</foreach>
			 
	</delete>  
	
	<update id="updateUserGroupCodeForUserDetail" parameterType="saleson.shop.usergroup.domain.UserGroup">
		UPDATE OP_USER_DETAIL SET
			GROUP_CODE = #{groupCode}
		WHERE
			USER_ID = #{userId}
	</update>
	
	<update id="deleteUserGroupCodeForUserDetail" parameterType="String">
		UPDATE OP_USER_DETAIL SET
			GROUP_CODE = ''
		WHERE
			GROUP_CODE = #{groupCode}
	</update>
	
	<insert id="insertUserGroupLog" parameterType="saleson.shop.usergroup.domain.UserGroupLog">
		INSERT INTO OP_USER_GROUP_LOG (USER_ID, GROUP_CODE, GROUP_NAME, ADMIN_USER_NAME, CREATED_DATE)
		VALUES (#{userId}, #{groupCode}, #{groupName}, #{adminUserName}, <include refid="CommonMapper.datetime"/>)
	</insert>
	
	<sql id="sqlRoleWhere">
		<where>
			<if test='conditionType == "ROLE_ADMIN"'>
				AND (
					opr.AUTHORITY LIKE 'ROLE_ADMIN%'
					OR opr.AUTHORITY = 'ROLE_MALL_SUPERVISOR'
					<!--MD 구분 추가 minae.yun-->
					OR opr.AUTHORITY LIKE 'ROLE_MD'
					<!-- ISMS 구분 추가 SANGHYUN.CHOI -->
					OR opr.AUTHORITY LIKE 'ROLE_ISMS'
					<!-- EXCEL 구분 추가 SANGHYUN.CHOI -->
					OR opr.AUTHORITY LIKE 'ROLE_EXCEL'
				)
			</if>
			<if test='query != null and query != ""'>
				<choose>
					<when test='where == "AUTHORITY"'>
						AND opr.AUTHORITY LIKE CONCAT('%', #{query}, '%')
					</when>
					<when test='where == "ROLE_NAME"'>
						AND opr.ROLE_NAME LIKE CONCAT('%', #{query}, '%')
					</when>
				</choose>
			</if>
			<!-- 
			<if test='authority != null and authority != ""'>
				AND AUTHORITY LIKE CONCAT('%', #{authority}, '%')
			</if>
			 -->
		</where>
	</sql>
	
	<sql id="sqlRoleWhere2">
		<where>
			<if test='conditionType == "ROLE_ADMIN"'>
				AND (
					AUTHORITY LIKE 'ROLE_ADMIN%'
					OR AUTHORITY = 'ROLE_MALL_SUPERVISOR'
					<!--MD 구분 추가 minae.yun-->
					OR AUTHORITY LIKE 'ROLE_MD'
					<!-- ISMS 구분 추가 SANGHYUN.CHOI -->
					OR AUTHORITY LIKE 'ROLE_ISMS'
					<!-- EXCEL 구분 추가 SANGHYUN.CHOI -->
					OR AUTHORITY LIKE 'ROLE_EXCEL'
				)
			</if>
			<if test='query != null and query != ""'>
				<choose>
					<when test='where == "AUTHORITY"'>
						AND AUTHORITY LIKE CONCAT('%', #{query}, '%')
					</when>
					<when test='where == "ROLE_NAME"'>
						AND ROLE_NAME LIKE CONCAT('%', #{query}, '%')
					</when>
				</choose>
			</if>
		</where>
	</sql>
	
	<select id="getUserGroupCount" parameterType="com.onlinepowers.framework.web.domain.SearchParam" resultType="Integer">
		SELECT COUNT(*)
		  FROM OP_ROLE
		<include refid="sqlRoleWhere2" />
	</select>
	
	<select id="getUserGroupList" parameterType="com.onlinepowers.framework.web.domain.SearchParam" resultMap="UserGroupResult">
		<include refid="CommonMapper.paginationHeader" />
			SELECT opr.AUTHORITY 
     			 , max(opr.ROLE_NAME) ROLE_NAME
			     , max(opr.ROLE_DESC) ROLE_DESC
			     , max(opr.CREATED_DATE) CREATED_DATE
			     , max(opr.CREATED_USER_ID) CREATED_USER_ID
			     , max(opr.UPDATED_DATE) UPDATED_DATE
			     , max(opr.UPDATED_USER_ID) UPDATED_USER_ID
			     , count(our.USER_ID) USER_COUNT
			  FROM OP_ROLE opr
			  LEFT OUTER JOIN OP_USER_ROLE our
			  ON opr.AUTHORITY = our.AUTHORITY
		<include refid="sqlRoleWhere" />
			 GROUP BY opr.AUTHORITY
			 ORDER BY opr.CREATED_DATE DESC
		<include refid="CommonMapper.paginationFooter" />
	</select>
	
	<insert id="insertGroup" parameterType="saleson.shop.usergroup.domain.UserGroup">
		INSERT INTO OP_GROUP (GROUP_CODE, GROUP_NAME, GROUP_EXPLANATION, CREATED_DATE, CREATED_USER_ID)
		VALUES (#{groupName}, #{groupName}, #{groupExplanation}, DATE_FORMAT(NOW(),'%Y%m%d%H%i%s'), #{createdUserId})
	</insert>
	
	<select id="getGroupById" parameterType="java.util.HashMap" resultMap="UserGroupResult">
		SELECT GROUP_CODE, GROUP_NAME, GROUP_EXPLANATION
		  FROM OP_GROUP
		 WHERE GROUP_CODE = #{id}
	</select>
	
	<update id="updateGroup" parameterType="saleson.shop.usergroup.domain.UserGroup">
		UPDATE OP_GROUP
		   SET GROUP_NAME  			= #{groupName}
			 , GROUP_EXPLANATION 	= #{groupExplanation}
			 , UPDATED_DATE   		= DATE_FORMAT(NOW(),'%Y%m%d%H%i%s')
			 , UPDATED_USER_ID		= #{updatedUserId}
		 WHERE GROUP_CODE = #{groupName}
	</update>
	
	<delete id="deleteGroup" parameterType="String" >
		DELETE 
		  FROM OP_GROUP 
	 	 WHERE GROUP_CODE = #{groupCode}
	</delete>
	
</mapper>