* {
    box-sizing: border-box;
}
html {
	font-size: 14px;
}
:root {
    --main-color1: #00215A;
    /*  ↑ 페이지 제목 */
    --main-color2: #004CCE;
    --main-color3: #09C2C7;
    --sub-color1: #002C77;
    --sub-color3: #00A4A8;

    --gray1: #111;
    --gray2: #5a5a5a;
    /* ↑ 본문 텍스트 */
    --gray3: #878787;
    --gray3a:#a5a5a5;
    --gray4: #dfdede;
    --gray5: #f5f5f5;

    --margin-padding-4: 4px;
    --margin-padding-8: 8px;

/*     --fs-NotoSnasR: "NotoSansKR-Regular"; */
/*     --fs-NotoSnasB: "NotoSansKR-Bold"; */
/*     --fs-kangwonGyoT: "GangwonEduPowerExtraBoldA"; */
/*     --fs-kangwonGyoM: "kangwon-gyo-mo-l"; */

    --fs-NotoSnasR: "PretendardGOV-Regular";
    --fs-NotoSnasB: "PretendardGOV-Bold";
    --fs-kangwonGyoT: "PretendardGOV-ExtraBold";
}
body {
	width: 100%;
	font-size: 1.3rem;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.3px;
	font-family: 'Roboto', 'Noto Sans KR', 'Malgun Gothic', 'Montserrat', Tahoma, Helvetica, AppleGothic, Helvetica, Sans-serif;
	color: #333;
	background: #fff;
    display: flex;
    flex-direction: column;
}
html, body{
    height: 100%;
}
html {
    scroll-behavior: smooth;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
label {
	margin: 0;
	padding: 0
}
dl,
ul,
ol,
menu,
li,
a {
    list-style: none;
    text-decoration: none;
	color: inherit;
}
a:active,
a:hover {
	text-decoration: none;
}
#header .header_top .container {
    max-width: 1280px;
}
#main-wrapper{
    text-align: center;
    height: auto;
    flex: 1;
}
.alternate-wrapper{
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.alternate-wrapper .alternate-txt{
    line-height: 2;
    border-radius: 50px 50px 50px 50px;
    padding: 100px 0;
    background-color: #002667;
    color: var(--gray4);
    max-width: 1280px;
    margin: 50px auto;
}
.alternate-wrapper .alternate-txt p{
    font-size: 1.7rem;
}
.alternate-wrapper .alternate-txt span{
    font-size: 1.2rem;
}
.alternate-wrapper .shortcut-link ul{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 150px auto;
    font-size: 1.5rem;
}
.alternate-wrapper .shortcut-link ul li {
    background-color: var(--gray5);
    border: 1px solid var(--gray4);
    border-radius: 10px 0px 10px 10px;
    padding: 20px 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.alternate-wrapper .shortcut-link ul li:hover{
    border: 1px solid var(--main-color2);
}
.alternate-wrapper .shortcut-link ul li:first-child,
.alternate-wrapper .shortcut-link ul li:nth-child(2){
    font-weight: 900;
}
.alternate-wrapper .alternate-tel{
    font-weight: 700;
    margin: 150px auto;
    max-width: 1280px;
}
#footer{
    background-color: #333943;
    color: var(--gray4);
}
#footer .footer-link {
    border-top: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 15px;
}
#footer .footer-link .container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    align-items: flex;
    justify-content: space-around;
}
#footer .footer-link a:nth-child(2){
    color: #e8a43f;
    font-weight: 700;
}
#footer .footer-link a{
    padding: 20px 0;
}
#footer .footer-content{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
    font-size: 12px;
    flex-direction: column;
    align-items: flex-start !important;
}
#footer .footer-content .footer-list {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}
#footer .footer-content ul li:after {
    content: '|';
    margin: 0 16px;
}
#footer .footer-content ul li:last-child {
    margin-right: 0;
    border-bottom: 0;
}
#footer .footer-content ul li:last-child::after {
    content: '';
}
#footer .footer-content .copyright{
    padding-top: 16px;
}
@media screen and (max-width:1280px) {
    #footer {
        padding-bottom: 0;
    }
    #footer .footer-content {
        padding: 50px 50px;
    }
}
@media screen and (max-width: 1030px) {
    #header .top-header {
        display: block !important;
    }
    #header #gnb {
        display: block !important;
    }
}
@media screen and (max-width: 768px) {
    .alternate-wrapper .alternate-txt span{
        font-size: 1rem;
    }
    .alternate-wrapper .shortcut-link ul{
        flex-wrap: wrap;
        font-size: 1.3rem;
    }
    #footer .footer-content .footer-list {
        margin-bottom: 0;
    }
    #footer .footer-content .footer-list li{
        margin-bottom: 8px;
    }
    #footer .footer-list{
        flex-direction: column;
    }
    #footer .footer-content ul li:after {
        content: '';
    }
    #footer .footer-content p{
        line-height: 1.3;
    }
}
@media screen and (max-width: 640px) {
    .alternate-wrapper .alternate-txt .logo{
        font-size: 2rem;
    }
    .alternate-wrapper .alternate-txt p{
        font-size: 1.5rem;
    }
}