<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="max-age=0, no-cache, no-store, must-revalidate, private">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="https://www.ilovegohyang.go.kr/">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="고향사랑e음" />
    <meta property="og:description"
        content="고향사랑e음 시스템을 통해  기부희망 지자체에 열악한 지방재정 확충에 기여 하고, 대상지자체로부터 답례품을 제공받을수 있는 종합정보시스템 " />
    <meta property="og:site_name" content="고향사랑e음" />
    <meta property="og:image" content="https://ilovegohyang.go.kr/static/images/cli-logo.png" />
    <!-- Google / Search Engine Tags / 구글 검색 엔진 -->
    <meta itemprop="name" content=" 고향사랑e음">
    <meta itemprop="description"
        content="고향사랑e음 시스템을 통해  기부희망 지자체에 직접 기부하여  열악한 지방재정 확충에 기여 하고, 대상지자체로부터 답례품을 제공받을수 있는 종합정보시스템 ">
    <meta itemprop="image" content="https://ilovegohyang.go.kr/static/images/cli-logo.png">
    <link rel="icon" href="/static/favicon.ico">
    <title>기부하기-고향사랑e음</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/static/css/swiper.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/layout.css">
    <link rel="stylesheet" href="/static/css/popup.css">
    <link rel="stylesheet" href="/static/css/main.css">

    <link rel="stylesheet" href="/static/css/event.css">

    <!-- ali custom Style -->
    <link rel="stylesheet" href="/static/css/default_ali.css">
    <link rel="stylesheet" href="/static/css/header-footer_ali.css">

    <!-- ali Section Style :) -->
    <link rel="stylesheet" href="/static/css/joind-ag.css">
    <link rel="stylesheet" href="/static/css/donation_doak.css">
    <link rel="stylesheet" href="/static/css/joind-agf.css"><!-- 모달-->
    <link rel="stylesheet" href="/static/css/notice-box.css">

    <!-- UI/UX 신규추가 -->
    <link rel="stylesheet" href="/static/css/new.css" />
    <script src="/static/js/swiper-bundle.min.js"></script>
    <!-- <script defer src="/static/js/ui-script.js"></script> -->

</head>

<body>
    <div id="saleson" v-cloak>
        <div id="wrap" class="dona">

            <section class="center donation_steps">
                <div class="page-title-box">
                    <span class="ali_breadcrumb">
                    <h2 class="page-title-txt">기부 연계 테스트</h2>
                </div>

            </section>

            <section id="contents" class="input_area">
                    <fieldset>
                        <div class="donation-info-area joind center">
                            <div class="add-info-group">
                                <div class="lable-field">
                                    <h3>지자체 선택</h3>
                                </div>
                                <div class="" style="display: flex; justify-content: flex-end;">
                                    <span>총 건수 : <b>{{ locgovTotalCnt }}</b></span>
                                    <span style="margin-left: 5px;">성공건수 : {{ locgovScCnt }}</span>
                                    <span style="margin-left: 5px;">실패건수 : <b style="color:red;">{{ locgovFaCnt }}</b></span>
                                </div>
                                <!-- <div class="info-field">
                                	<div class="info-field-group">
                                        <div class="info-field-items">
                                            <label for="upperLocgovCode" class="flied-title">지역선택</label>
                                            <span class="form-field selectCity">
                                                <div class="select-location-items">
                                                    <select aria-label="시·도 선택" name="upperLocgovCode" id="upperLocgovCode" v-model="selectedUpperLocgovCode" >
                                                        <option value="">시·도 선택</option>
                                                        <option v-for="data in sidoList" :value="data.sidoCode">{{data.sidoName}}</option>
                                                    </select>
                                                </div>
                                                <div class="select-location-items">
                                                    <select aria-label="시·군·구 선택" name="sigunguCd" id="sigunguCd" v-model="selectedLocgovCode">
                                                        <option value=""> 시·군·구 선택</option>
                                                        <option v-for="data in cityList" :value="data.cityCode">{{data.cityName}}</option>
                                                    </select>
                                                </div>
                                                <button class="formBtn" type="button" id="postBtn" @click="addLocgovCode()">추가</button>
                                            </span>
                                        </div>
                                    </div>
                                </div> -->

								<div class="info-field">
                                    <div class="info-field-group">
                                        <div class="info-field-items">
                                            <label for="userName" class="flied-title">이름</label>
                                            <input id="userName" type="text" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="info-field">
                                    <div class="info-field-group">
                                        <div class="info-field-items">
                                            <label for="jumin" class="flied-title">주민번호</label>
                                            <input id="jumin" type="text" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="info-field" >
                                    <div class="info-field-group">
                                        <div class="info-field-items">
                                            <label for="failLocgov" class="flied-title">실패지자체</label>
                                            <input id="failLocgov" type="text" v-model="failLocgovText" readonly>
                                        </div>
                                    </div>
                                </div>

								<textarea rows="" cols="" id="locgovText" v-model="locgovText"></textarea>

                                <div class="btn-box many mb_b60" style="margin-top:20px;">
                                       <button type="button" class="blueBtn u-confirm" @click="locgovListDonation()" >
                                           연계 테스트 시작
                                           <span>
                                               <img src="/static/images/icon/cli-icon_btn-hover-arrow.png" alt="">
                                           </span>
                                       </button>
                                </div>

								<div class="" style="margin-top:-40px;">
                    				<div class="s-contents table-wrapper">
                    						<div class="table-container">
												<div class="table-result-body">
													<table id="tblResult" class="result-title">

													</table>
												</div>
											</div>
									</div>
								</div>

                            </div>
                        </div>
                    </fieldset>

            </section>
        </div>
        <!--//#wrap-->

    </div>
    <!--//#saleson-->

    <!-- JavaScript -->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/swiper.min.js"></script>
    <script src="/modules/swiper/vue-awesome-swiper.js"></script>
    <script src="/static/js/bootstrap/vendor/popper.min.js"></script>
    <script src="/static/js/bootstrap/bootstrap.min.js"></script>
    <script src="/static/js/jquery.popupoverlay.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.counterup.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/header.js"></script>
    <script src="/static/js/footer.js"></script>
    <script src="/static/js/main.js"></script>

    <script src="/static/js/jquery.cookie.js"></script>

    <script src="/modules/babel.min.js"></script>
    <script src="/modules/es6-promise.min.js"></script>
    <script src="/modules/es6-promise.auto.min.js"></script>
    <script src="/modules/axios.js"></script>
    <script src="/modules/vue.js"></script>
    <script src="/modules/httpVueLoader.js"></script>
    <script src="/modules/op.config.js"></script>
    <script src="/modules/op.saleson.js"></script>
    <script src="/modules/op.common.js"></script>
    <script type="text/babel" src="/modules/op.vue.js"></script>
    <script src="/modules/op.wcslog.js"></script>

    <script src="/modules/op.donation.test.js?v=3"></script>

			<!-- 암호화 모듈 -->
    <script src="/modules/jsencrypt.min.js"></script>

    <script type="text/babel">

    </script>

</body>

</html>