<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" href="../../../../favicon.ico">
	<title>지역정보개발원-고향사랑e음</title>
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="/static/css/bootstrap/bootstrap.css">
	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="/static/css/swiper.min.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/layout.css">
	<link rel="stylesheet" href="/static/css/popup.css">
	<link rel="stylesheet" href="/static/css/mypage.css">
</head>
<body>
<div id="saleson" v-cloak>
	<layout-header></layout-header>

	<section class="contents recent_contents">
		<div class="tit_wrap">
			<h2 class="tit">최근 본 상품</h2>
		</div>
		<div class="recent_wrap">
			<div class="container">
				<div class="item_list basic_wide" v-if="latelyItemList != null && latelyItemList.length > 0">
					<div class="row no-gutters">

						<div class="col-12 col-md-6 list_area" v-for="data in latelyItemList">
							<div class="row no-gutters">
								<div class="col-5 col-md-6 col-lg-5">
									<div class="img_area">
										<a href="javascript:;" @click="redirectByItem(data.itemUserCode)">
											<img :src="itemImage(data.itemImage)"
											     :alt="unescapeHtml(data.itemName)" @error="errorImage">
										</a>
										<div class="sale_per" v-if="data.discountRate > 0">
											{{data.discountRate}}<span>%</span></div>
										<div class="over_btn" >
											<a href="javascript:;" @click="redirectByItem(data.itemUserCode)" class="over_link"></a>

											<template
											     v-if="(data.stockFlag === 'N' || (data.stockFlag === 'Y' && data.stockQuantity > 0) ) && data.soldOut === '0'">
												<a href="javascript:" class="btn_cart" title="장바구니 담기"
												   v-if="data.itemOptionFlag !== 'Y' && data.itemType !== '3'"
												   :id="'cart_' + data.itemId"
												   @click.prevent="addToCart(data.itemId, data.orderMinQuantity)"></a>
												<a href="javascript:" class="btn_wish" title="관심상품 담기"
												   :id="'wish_' + data.itemId"
												   @click.prevent="addToWishList(data.itemId)"></a>
											</template>
										</div>
										<div class="sold_out" v-if="data.itemSoldOutFlag === 'Y'">
											<p>품절</p>
										</div>
									</div>
								</div>
								<div class="col-7 col-md-6 col-lg-7">
									<div class="txt_area">
										<p class="brand">{{data.brand}}</p>
										<p class="title">
											<a href="javascript:;" @click="redirectByItem(data.itemUserCode)">
												{{unescapeHtml(data.itemName)}}
											</a>
										</p>
										<div class="price_area">
											<p class="before" v-if="data.totalDiscountAmount > 0 && data.discountRate > 0">
												<span>{{formatNumber(data.salePrice)}}</span>원
											</p>
											<div class="sale_area">
												<p class="price"><span>{{formatNumber(data.presentPrice)}}</span>원</p>
											</div>
										</div>
										<div class="badge-wrap">
                                            <span class="badge badge_txt" v-if="data.itemLabel === '2'">
                                                <em>NEW</em>
                                            </span>
											<span class="badge badge_txt" v-if="data.itemLabel === '3'">
                                                <em>SALE</em>
                                            </span>
											<span class="badge badge_txt" v-if="data.itemType1 === '1'">
                                                <em>인기상품</em>
                                            </span>
											<span class="badge badge_txt" v-if="data.itemType2 === '1'">
                                                <em>BEST상품</em>
                                            </span>
											<span class="badge badge_txt" v-if="data.itemType4 === '1'">
                                                <em>추천상품</em>
                                            </span>
											<span class="badge badge_txt" v-if="data.itemType5 === '1'">
                                                <em>기본상품</em>
                                            </span>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="common_none" v-else>
					<p>상품이 없습니다.</p>
				</div>
			</div>
		</div>
	</section>

	<layout-footer></layout-footer>
</div>


<!-- JavaScript -->
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/modules/swiper/vue-awesome-swiper.js"></script>
<script src="/static/js/bootstrap/vendor/popper.min.js"></script>
<script src="/static/js/bootstrap/bootstrap.min.js"></script>
<script src="/static/js/jquery.popupoverlay.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.counterup.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>


<script src="/modules/babel.min.js"></script>
<script src="/modules/es6-promise.min.js"></script>
<script src="/modules/es6-promise.auto.min.js"></script>
<script src="/modules/axios.js"></script>
<script src="/modules/vue.js"></script>
<script src="/modules/httpVueLoader.js"></script>
<script src="/modules/op.config.js"></script>
<script src="/modules/op.saleson.js"></script>
<script type="text/babel" src="/modules/op.vue.js"></script>


<script type="text/babel">

	Vue.use(VueAwesomeSwiper);
    var vm = new Vue({
		el: '#saleson',
		components: {
			'layout-footer': httpVueLoader('/components/layouts/footer.vue'),
			'layout-header': httpVueLoader('/components/layouts/header.vue'),
		},
		data: {
			param: {
				arrayRequiredItems: []
			},
			latelyItemList: []
		},
		methods: {
			getLatelyItems: function () {

				var self = this;

				var param = {
					ids: this.latelyItems.toString(),
					limit: 10
				}

				$s.api.getLatelyItems(param,
					function (response) {
						var list = response.list;
						self.latelyItemList = list;
					},
					function (error) {
						$s.error(error);
					});
			},
			redirectByItem: function (itemUserCode) {
				$s.redirect('/items/details.html?code=' + itemUserCode);
			},

			addToCart: function (itemId, orderMinQuantity) {
				var quantity = Number(orderMinQuantity) > 1 ? Number(orderMinQuantity) : 1;
				vm.param.arrayRequiredItems.push(itemId + '||' + quantity + '||');

				$s.api.addToCart(vm.param, function () {
					var arrayRequiredItems = vm.param.arrayRequiredItems;
					arrayRequiredItems.splice(0, arrayRequiredItems.length);
					document.getElementById('cart_' + itemId).className = 'btn_cart on';
					$s.toast("해당 상품이 장바구니에 담겼습니다.");
				});
			},

			addToWishList: function (itemId) {
				$s.api.addToWishList(itemId, function () {
					document.getElementById('wish_' + itemId).className = 'btn_wish on';
					$s.toast("해당 상품이 관심상품에 담겼습니다.");
				});
			},
		},
		mounted: function() {
			this.$nextTick(function () {

				Saleson.init({loginPage: false});

				this.latelyItemInfo(this);

				this.getLatelyItems();
			});
		}
	});
</script>



</body>
</html>

