.sitemap .container{
    background-color: var(--main-color2);
    padding:100px 80px 92px;
    margin-bottom: 150px;
    /* background-image: url('/static/images/cli-sitemap_bg.png');
    background-repeat: no-repeat;
    background-position: left top; */
}
nav.dt-all-menu-list{
    display: flex;
    /* justify-content: space-between; */
}
.all-main-menu{
    width: 22%;
}
.all-main-menu a{
    color: #fff;
    display: block;
}
.all-main-menu>li>a{
    font-size: 20px;
    padding-bottom: 16px;
    border-bottom:1px solid rgba(255,255,255,0.4);
    font-weight: bold;
}
.all-main-menu>li.addlist{
    margin-top: 60px;
}
.all-main-menu .all-sub-menu a{
    padding:16px 0 8px;
    font-size: 16px;
}
.all-main-menu .all-sub-menu>li>a::before{
    content: "";
    display: inline-block;
    width: 9px; height: 9px;
    background-image: url('/static/images/icon/cli-icon_bullet-b.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 9px;
    margin-right: 8px;
}

.all-main-menu .all-sub-menu .all-sub-sub-menu{
    padding-left: 20px;
}
.all-main-menu .all-sub-menu .all-sub-sub-menu a{
    color:var(--gray4);
    font-size: 14px;
    padding:calc(var(--margin-padding-8)*1) 0;

}

@media screen and (max-width:1030px) {
    .sitemap .container{
        padding:50px 50px 92px;
        width: 100%;
        max-width: 768px;
    }
    .sitemap .container nav.dt-all-menu-list{
        flex-wrap: wrap;
    }
    .all-main-menu{
        width: 100%;
        margin-bottom: calc(var(--margin-padding-8)*7);
    }
    .all-main-menu:last-child{
        margin-bottom: 0;
    }
}

@media screen and (max-width:768px) {
   
    .all-main-menu{
        width: 98%;
        margin-bottom: calc(var(--margin-padding-8)*7);
    }
}